<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nchu.stu.attend.system.dao.AttendItemMapper">
    <resultMap id="AttendItemMapper" type="nchu.stu.attend.system.domain.AttendItem">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="attendItem_id" jdbcType="DECIMAL" property="attendItemId" />
        <result column="attend_id" jdbcType="DECIMAL" property="attendId" />
        <result column="student_id" jdbcType="VARCHAR" property="studentId" />
        <result column="attend_time" jdbcType="DATE" property="attendTime" />
        <result column="attend_result" jdbcType="VARCHAR" property="attendResult" />

    </resultMap>

    <select id="findAllAttendItem" parameterType="attendItem" resultType="attendItem">
        select t.attendItem_id,t.attend_id,t.student_id,t.attend_time,t.attend_result
        from t_attendItem t
        where 1 = 1
        order by t.attendItem_id
    </select>
    

</mapper>